<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>homebrew.mxcl.wake-on-domain-udp</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/dns-sd</string>
		<string>-R</string>
		<string>domain-name-server</string>
		<string>_domain._udp</string>
		<string>local.</string>
		<string>53</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/homebrew.mxcl.wake-on-domain-udp.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/homebrew.mxcl.wake-on-domain-udp.stdout</string>
</dict>
</plist>

